@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url(http://weloveiconfonts.com/api/?family=zocial);

body,
div,
ul,
li,
p,
h1,
h2,
/*h3,*/
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
}


#main {
    max-width: 960px;
    margin: 0 auto;
}

/*dynamically size chart h2 element for mobile*/
@media screen and (max-device-width: 799px){
    #chart-container>h2 {
        font-size: 6vw;
    }
}


/*this is to style role and control line break and different screen sizes*/
@media all and (min-device-width: 600px) {
    #role {
        display: inline;
        color:white;
        padding: 10px .5%;
    }
}

@media all and (max-device-width: 599px) {
    #role {
        color: white;
        padding-bottom: .5%;
        padding-top: .5%;
    }
    #topContacts {
        padding-top: .5%;
        padding-bottom: .5%;
    }
}


@media only screen and (max-width: 749px) {
    .zocial-pinboard {
        display: none;
    }
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

.green-text{
    color: #00FF48;
}

li .zocial-twitter {
    margin-top: 0em;
}
li .zocial-email {
    margin-top: 0em;
}
li .zocial-github {
    margin-top: 0em;
}
li .zocial-linkedin {
    margin-top: 0em;
}
li .zocial-pinboard {
    margin-top: 0em;
}

#skills-h3 {
    padding-bottom: 0em;
    color: #FF0000;  /*overrides color in style.css */
}

#lets-connect-h2{
    color: #FF0000;
}

#skills {
    padding-top: 0em;
}


#chart-container {
    text-align: center;
}

.biopic {
    border-radius: 50%;
}

#header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+99 */
    background: #0e0e0e; /* Old browsers */
    background: -moz-linear-gradient(top, #0e0e0e 0%, #7d7e7d 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0e0e0e 0%,#7d7e7d 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6 */
}

/*jquery decreased padding for mobile via custom class call on accordion*/
.jqui-mobile-padding {
    padding: .1em 1em !important;
}