@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url(http://weloveiconfonts.com/api/?family=zocial);

body,
div,
ul,
li,
p,
h1,
h2,
/*h3,*/
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
}

#role{
    color: white;
}

@media only screen and (max-width: 749px) {
    .zocial-pinboard {
        display: none;
    }
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

.green-text{
    color: #00FF48;
}

li .zocial-twitter {
    margin-top: 0em;
}
li .zocial-email {
    margin-top: 0em;
}
li .zocial-github {
    margin-top: 0em;
}
li .zocial-linkedin {
    margin-top: 0em;
}
li .zocial-pinboard {
    margin-top: 0em;
}

#skills-h3 {
    padding-bottom: 0em;
    color: #FF0000;  /*overrides color in style.css */
}

#lets-connect-h2{
    color: #FF0000;
}

#skills {
    padding-top: 0em;
}


#chart-container {
    text-align: center;
}

.biopic {
    border-radius: 50%;
}

#header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+99 */
    background: #0e0e0e; /* Old browsers */
    background: -moz-linear-gradient(top, #0e0e0e 0%, #7d7e7d 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0e0e0e 0%,#7d7e7d 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6 */
}