@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url(http://weloveiconfonts.com/api/?family=zocial);

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
}

#role{
    color: white;
}

@media only screen and (max-width: 749px) {
    .zocial-pinboard {
        display: none;
    }
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

.green-text{
    color: #00FF48;
}

li .zocial-twitter {
    margin-top: 0em;
}
li .zocial-email {
    margin-top: 0em;
}
li .zocial-github {
    margin-top: 0em;
}
li .zocial-pinboard {
    margin-top: 0em;
}

#skills-h3 {
    padding-bottom: 0em;
    color: #FF0000;  /*overrides color in style.css */
}

#skills {
    padding-top: 0em;
}
